{% extends 'base.html' %}
{% load static %}
  <link rel="stylesheet" href="{% static './css/style.css' %}">
{% block content %}
<div class="clearfix">    
	<a class="btn btn-info right mr-2" href="search"> Search</a>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
  <tr>
      <th scope="row">{{post.start_time}}</th>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
    </tr>
  {% endfor %}
  </tbody>
    </table>
</div>
{% endblock %}